<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/Head"></head>

<body onload="myFunction()" style="margin:0;">
<div id="loader"></div>
<div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="container-fluid">
        <header lang="en" th:replace="fragments/Header"></header>
    </div>
    <div  class="container-fluid" >
        <div  class="row">
            <div  class="col-md-2">
                <div th:replace="fragments/menu"></div>
            </div>
            <!-- END / SOCIAL LINKs -->


            <div class="col-md-8">
                <div class="container">
                    <div class="col-md-12">
                        <h1>Main Forum</h1>
                    </div>
                </div>
                <div class="container" >
                    <div id="easyPaginate">
                        <div class="row" >
                            <div class="col-md-7 r4 ">
                                <ul id="example">
                                    <li th:each ="Question,iterStat:${lq}">
                                        <h3 class="h33" th:text="${Question.title}">Java class</h3>
                                        <p class="p1" th:text="${Question.posting}"></p>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <a ><p><i class="fa fa-user" th:text="${penggunaaktif.username}"></i></p></a>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <p><i class="fa fa-hashtag"> Java</i></p>
                                                        </div>
                                                        <div  class="col-md-3">
                                                            <p> <i class="fa fa-clock-o" th:text="${Question.tgl_question}"></i> </p>
                                                        </div>
                                                        <div  class="col-md-3">
                                                            <p> <i class="fa fa-question" ></i> Question</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-6">
                                                        <a th:href="@{Answer(id=${Question.id})}" title=""><i class="fa fa-reply"> Jawab</i></a>

                                                    </div>


                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <a th:href="@{EditQuestion(id=${Question.id})}">Edit</a>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                            <div class="col-md-5 r5" >


                            </div>




                        </div>
                    </div>



                </div>


            </div>
            <div class="col-md-2  right-sidebar">



                <div th:replace="fragments/right-sidebar"></div>


            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer">
    </footer>
</div>
<script src="js/jquery.paginate.js"></script>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/jquery.paginate.css" />
<script>
    //call paginate
    $('#example').paginate();
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<script>
    $(document).ready(function () {
        $.get("/QuestionRest",function(x) {
            var data=[];
            $.each(x,function(index,row) {
                data[index]={
                    index:row.id,
                    label:row.title,
                    value:row.title
                };
            });
            $("#question").autocomplete({
                source: data
            });
        });
    });
</script>
</body>
</html>