<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/Head">  </head>
  <body>
    <div class="container-fluid">
       <header lang="en" th:replace="fragments/Header"></header>
    </div>
    <div  class="container-fluid" >
        <div  class="row">
          <div  class="col-md-2">
                <div th:replace="fragments/menu"></div>  
      </div>
    
    <div class="col-md-8">
      
        <div class="container">
          <div class="row">
             
            <div class="row">
             <div class="col-md-8 ">
          <ul>
                <li><h2 class="h33">Java class</h2>
              <p class="p1">lorem ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              lorem ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              lorem ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p></li>
            </ul>
          </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-3">
                         <p><i class="fa fa-user"> Ojik</i></p>
                      </div>
                        <div class="col-md-3">
                         <p><i class="fa fa-hashtag"> Java</i></p>
                      </div>
                      <div  class="col-md-3">
                         <p> <i class="fa fa-clock-o"></i>  Publish 19.30</p> 
                      </div>
                       <div  class="col-md-3">
                         <p> <i class="fa fa-server"></i> Sharing</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <a href="Rating.html" title=""><i class="fa fa-trophy"></i>10</a>
                  </div>
                </div>
                
              </div>
            </div>

              <div class="container">
              <div class="row">
                <div class="col-md-10">
                  <form action="" method="post" accept-charset="utf-8">
                   <h4>Answer :</h4>
                  <textarea name="" style="width: 700px; height: 200px;" placeholder="Jawab Disini"></textarea>\
                  <div>
                      <input type="submit" name="" value="Jawab" >
                  </div>
                  </form>
                  
                </div>
                <div class="col-md-2">
                  
                </div>
                 <div class="row">
                <div class="col-md-10">
                  
                </div>
                <div class="col-md-2">
                  
                </div>
                
              </div>
            </div>
            <div class="container">
                <div class="row">
                <div class="col-sm-12">
                <h3>Answer</h3>
                </div><!-- /col-sm-12 -->
                </div><!-- /row -->
                <div class="row">
                <div class="col-sm-1">
                <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col-sm-5">
                <div class="panel panel-default">
                <div class="panel-heading">
                <strong>Borsak</strong> <span class="text-muted">commented 5 days ago</span>
                </div>
                <div class="panel-body">
                Bagus 
                </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->

               
                </div><!-- /row -->
          </div>

          </div>
        </div>
      
    </div>
   

  </div>
   <div class="col-md-2  right-sidebar">
     
        
      
        <div th:replace="fragments/right-sidebar"></div>
   
    </div>
</div>     
  

    <footer th:replace="fragments/footer">
	</footer>
  </body>
</html>
