<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/Head"></head>
  <body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>
  <div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="container-fluid">
        <header lang="en" th:replace="fragments/Header"></header>
    </div>
    <div  class="container-fluid" >
        <div  class="row">
          <div  class="col-md-2">
                <div th:replace="fragments/menu"></div>  
      </div>
    
    <div class="col-md-8">
      
        <div class="container">
          <div class="row">
            <div class="col-md-9">
                <h3>Tags</h3>
                <hr>
                <div class="ui-widget">
                  <label for="tags">Tags: </label>
                  <input id="tags">
                </div>
              <div class="container">
                <div class=" col-md-6">
                  
                <p>- php</p>
              <p>- Java</p>
              <p>- C++</p>
              <p>- Ruby</p>
              <p>- Golang</p>
              <p>- Jquery</p>
              <p>- AngularJS</p>
              <p>- NodeJs</p>
              <p>- C#</p>
              <p>- JavaScript</p>
              <p>- Golang</p>
              <p>- Jquery</p>
                </div>
              <div class="col-md-6">
                  <p>- php</p>
              <p>- Java</p>
              <p>- C++</p>
              <p>- Ruby</p>
              <p>- Golang</p>
              <p>- Jquery</p>

                </div>
              </div>
              


            </div>  
          
        </div>
    </div>
   

  </div>
   <div class="col-md-2  right-sidebar">
     
        
      <div th:replace="fragments/right-sidebar"></div>
     
   
    </div>
</div>     
  
 <footer th:replace="fragments/footer">
	</footer>
    </div>
  </body>
</html>
 