<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/Head">
   
  </head>
  <body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>
  <div style="display:none;" id="myDiv" class="animate-bottom">
  
    <div class="container-fluid">
        <header >
            <div class="row ">
              <nav class="navbar r1">
                <div class="container-fluid">
                  <div class="navbar-header logo">
                    <img src="image/kepo1.png" alt="">
                  </div>
                
              </div>
               </nav>
               </div>
               
                
           

        </header><!-- /header -->
		   <div class="row r2">
    		<div class="col-md-12">
    			<div class="container">
		   		<div class="row">
		   		<div class="col-md-12">
		   		<center><h2>Register Berhasil Klik <a href="https://mail.google.com/mail/u/0/#inbox" style="color: blue">Link </a>untuk Validasi</h2></a>
		   		
		   		</center>
		   			
		   		</div>
		   		</div>
		   </div>
    		</div>
    
    	</div>
 
    </div>
   
    	
    	
    

  <footer th:replace="fragments/footer">
	</footer>
	



		</script>
	 </div>
	 </body>
</html>