<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
              <button data-toggle="modal" data-target="#myModal"><i class="fa fa-question"></i> Question</button>
              
                                        <div class="container">

                                              <!-- Modal -->
                                              <div class="modal fade" id="myModal" role="dialog">
                                                <div class="modal-dialog" >

                                                  <!-- Modal content-->
                                                  <div class="modal-content">

                                                    <div class="modal-body" style="padding:40px 50px;">
                                                      <form role="form" action="InsertQuestion" method="POST">
                                                        <div class="form-group">
                                                          <h4>Question</h4>
                                                          <input type="hidden" th:value=${penggunaaktif.username} name="usernameUser">
                                                          <label for="">Title</label>
                                                         
                                                          <input type="text" class="form-control" id="title" name="title" placeholder="Title"/>
                                                        </div>
                                                        <div class="form-group">
                                                     <label for="">Tags</label>
                                                          <input type="text" name="tags" id="tags" placeholder="Exp:Java" class="form-control"/>
                                                        </div>
                                                          <div class="form-group">
                                                        <label for="">Masukan Pertanyaan</label>
                                                         
                                                        </div>
                                                          <div >
                                                              <textarea  id="txtEditor" name="posting" style="width: 100%;" cols="10" rows="10" required></textarea>
                                                          </div>


														

   
                                              
                                                          <button type="submit" class="btn btn-primary btn-xl"><span class="glyphicon glyphicon-off"></span> Simpan</button>
                                                      </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

                                                    </div>
                                                  </div>

                                                </div>
                                              </div>
                                            </div>
        <hr/>
        <div >
           <li class="widget widget-menu">
             <div class="container">
                <h3>Menu</h3>
                <div class="row">
                  <div class="col-md-3 menu">
                    <ul class="nav nav-pills nav-stacked">
                      <li><a th:href="Home.html"><i class="fa fa-home"></i>  Beranda</a></li>
                    <li ><a th:href="Peraturan.html"><i class="fa fa-balance-scale"></i> Aturan</a></li>
                    <li ><a th:href="Question.html"><i class="fa fa-question"></i>   Question</a></li>
                    <li ><a th:href="Postingan.html"><i class="fa fa-server"></i>   Sharing</a></li>
                    <li ><a th:href="Rating.html"><i class="fa fa-trophy"></i>   Rating</a></li>
                    <li ><a th:href="Tags.html"><i class="fa fa-hashtag"></i>   Tags</a></li>
                    </ul>
                  </div>
                </div> 
              </div>          
        </li><!-- END LEFT MENU -->    
        </div>   
        <hr/>
        
            <!-- SOCIAL LINKs -->
      <div class="social-links">
        <h3>Social</h3>
          <ul>
                 <li>
                  <a  href="https://www.facebook.com/"  class="social fb">
                      <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                  </a>
              </li>
                            <li>
                  <a rel="nofollow" href="https://twitter.com/" target="_blank" class="social tw">
                      <i class="fa fa-twitter-square fa-2x"></i>
                  </a>
              </li>
                            <li>
                  <a rel="nofollow" href="https://mail.google.com/" target="_blank" class="social gg">
                      <i class="fa fa-google-plus-square fa-2x"></i>
                  </a>
              </li>
              <li>
                  <a href="https://www.linkedin.com/uas/login" target="_blank" class="social lk">
                      <i class="fa fa-linkedin-square fa-2x"></i>
                  </a>
              </li>
           </ul>
      </div>
      <hr>
          <div class="copyright copy">
        <p>Copyright &copy; KepoIT.com</p>
      </div>

      <!-- END / SOCIAL LINKs -->
              <script src="js/editor.js"></script>
              <script>
                  $(document).ready(function() {
                      $("#txtEditor").Editor();
                  });
              </script>
              <script>
                  $(document).ready(function() {
                      $("#txtEditor1").Editor();
                  });
              </script>
</body>
</html>